@import "tailwindcss";

@theme{
  --color-camgreen: #00e569;
  --color-camwhite: #e3e7e6;
  --color-camblack: #201f20;
  --color-camblackbg: rgba(32, 31, 32, 1);
  --drop-shadow-textoutline: 0 1.2px 1.2px rgba(0,0,0,0.8);
}

.item {
  height: 224px;
  width: 100%;
  flex-shrink: 0;

  /* scroll snapping */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
/* .item { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   font-size: 32px; */
/*   color: #fff; */
/*   text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4); */
/* } */
/**/
/* .item:nth-child(4n + 1) { */
/*   background-color: #facd3d; */
/* } */
/* .item:nth-child(4n + 2) { */
/*   background-color: #5626c4; */
/* } */
/* .item:nth-child(4n + 3) { */
/*   background-color: #e60576; */
/* } */
/* .item:nth-child(4n + 4) { */
/*   background-color: #2cccc3; */
/* } */

.list {
  display: flex;
  overflow-x: scroll;

  /* prevent accidentally going back or triggering other swipe events */
  overscroll-behavior: contain;

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disable vertical scroll for touch */
  touch-action: pan-x;

  /* scroll snapping */
  scroll-snap-type: x mandatory;
}

/* hide scroll bar */
.list::-webkit-scrollbar {
  display: none;
}

.indicatorsList {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
}

.indicator:not(:last-child) {
  margin-right: 16px;
}

.indicator.active {
  background-color: #00e569;
}
html, body {
  background: black; 
  image-rendering: optimizeQuality;
  -webkit-backface-visibility: hidden;
  color: var(--foreground);
  font-family: Poppins;
  pointer-events: auto;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(10px, 10px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

.animate-scroll {
  animation: scroll 2s infinite;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-400 {
  animation-delay: 0.4s;
}


